---
layout: base
title: Берсерк Гайд
description: Гайд по Берсерк и Берсерк.Герои
permalink: /
---
<!-- Header -->
<div class="container py-5">
  <div class="col-xxl-10">
    <h1 class="display-1">⚔️🛡️<br>Добро пожаловать<br> в Берсерк Гайд </h1>
    <div class="border border-6 border-light w-25 my-4"></div>
  </div>
  <div class="col-lg-10 col-xxl-8">
    <p class="font-serif lead mb-4 text-light">
      <a href="https://vk.com/berserk.guide" target="_blank">Следите</a> за обновлениями в ВК!</p>
  </div>
</div>